.header{
    background-image: url(../images/bg-header-desktop.png);
    background-size: cover;
    text-align: center;
    padding-top: 100px;

}

.header-logo{
    height: 130px;
}

@media only screen and (max-width: 786px){
    .header{
        background-image: url(../images/bg-header-mobile.png);
    }
}